


/**
 *
 * Main CSS
 *
 */

 body *{
 	font-family: Lato;
 }
 h1{
 	font-size: 26px;
 	color: #424B54;
 	padding-left: 20px;
 }
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.sbw{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	padding: 0 30px 0 30px;
	margin-bottom: 30px;
	margin-top: 103px;
	clear: both;
}
.subBtn{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: #02C39A;
	color: white;
		border-radius: 3px;
	padding: 10px 0 10px 0;
}

/**
 *
 * Viewer
 *
 */
.top{
	padding-top: 20px;
}
.wt{
	pointer-events: none;
	opacity: 0.5;
}
.wt.active{
	pointer-events: auto;
	opacity: 1;
}
.viewer-wrapper{
	position: fixed;
	width: 55%;
	background: #F8F8F8;
	height: 100%;
	top: 0;
	left: 0;
}

.left-w{
	width: 45%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 2% 4% 2% 4%;
	box-sizing: border-box;
   overflow-y: scroll;
}
.add{
	color: #f69402;
	float: right;
	cursor: pointer;
	padding-right: 30px;
}

.addPizza ul{
	list-style: none;
	padding: 30px 30px 15px 30px;
}
.addPizza ul li{
	padding: 10px 0 10px 0;
	font-size: 20px;
	color:#8A939C;
	border-bottom: 1px solid #F9F9F9;
}
.addPizza ul li.selected{
	background: #F9F9F9;
}
.addPizza ul li span{
	padding-left: 10px; 
	box-sizing: border-box;
	cursor: pointer;

}
.addPizza img{
	float: right;
	margin-top: 4px;
	margin-right: 18px;
	cursor: pointer;
}

.addPizza img.dis{
	opacity: 0;
	pointer-events: none;
}

.addPizza p{
	float: right;
	margin: 0;
	padding: 0;
	font-size: 15px;
	margin-top: 5px;

}

.pizza-wrapper{
	width: 70%;
	height: 70%;
	background: url('../src/images/pizza-back.png') no-repeat center center;
	background-size: 80%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.pizza-wrapper.selected{
	transform: translate3d(0,0,0);
	transition: 0.5s ease;
}
.Small{
	background-size: 60% !important;
}
.Medium{
	background-size: 70% !important;
}
.Large{
	background-size: 80% !important;
}
.pizza-wrapper.dis{
	transform: translate3d(-150%,0,0) rotate(90deg);
	transition: 0.5s ease-out;
}

.size-wrapper{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0 30px 0 30px;
	margin-top: 30px;
}
.size-wrapper-t{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0 30px 0 30px;
	margin-top: 30px;
	flex-wrap: wrap;
}
.size-wrapper li{
	display: inline-block;
	color: #8A939C;
	padding: 10px 25px 10px 25px;
	background: #F3F3F3;
	border-radius: 3px;
	cursor: pointer;
	width: 80px;
	text-align: center;
}
.size-wrapper-t li{
	display: inline-block;
	color: #8A939C;
	width: 100px;
	background: #F3F3F3;
	border-radius: 3px;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
	padding: 10px 5px 10px 35px;
	text-align: left;
	position: relative;

}
.size-wrapper-t li img{
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	margin: auto 0;

}
.topp{
	width: 33.33%;
	display: flex;
	float: left;
	justify-content: center;
	align-items: center;

}
.size-wrapper-t li.active{
	background:#f69402;
	color: white;
}

.size-wrapper li.selected{
	background: #f69402;
	color: white;
}

.toppings{
	width: 100%;
	height: 100%;
	background: url('../src/images/Mushroom-top.png') no-repeat center center;
	background-size: 86%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	transition: background-size 0.5s ease, transform 0.3s ease-out, opacity 0.10s;
/*	animation: 0.25s ease-out Fall forwards;*/
}
.toppings.dis{
	transform: scale(1.9);
	opacity: 0;
}
.toppings.active{
	transform: scale(1);
	opacity: 1;
}

@-webkit-keyframes Fall {
    from {transform: scale(1.9);}
    to {transform: scale(1);}
} 



.Small-t{
	background-size: 66% !important;

}
.Medium-t{
	background-size: 76% !important;

}
.Large-t{
	background-size: 86% !important;

}

.total{
	padding-right: 30px;
	margin-bottom: 20px;
}
.total h1{
	float: right;
	/*font-size: 20px;*/
	display: inline-block;
} 
/**
 *
 * Loader
 *
 */
 body {
  background: #fff;
}

@-webkit-keyframes jump_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.jump_1 {
  -webkit-animation: jump_1 3.2ss ease infinite;
          animation: jump_1 3.2ss ease infinite;
}

@-webkit-keyframes jump_3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump_3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.jump_3 {
  -webkit-animation: jump_3 3.2ss ease infinite;
          animation: jump_3 3.2ss ease infinite;
}

@-webkit-keyframes jump_2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes jump_2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.jump_2 {
  -webkit-animation: jump_2 3.2ss ease infinite;
          animation: jump_2 3.2ss ease infinite;
}

@-webkit-keyframes jump_4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes jump_4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.jump_4 {
  -webkit-animation: jump_4 3.2ss ease infinite;
          animation: jump_4 3.2ss ease infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  29.09091% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  29.09091% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.rotation {
  -webkit-animation: rotation 2.75ss ease infinite;
          animation: rotation 2.75ss ease infinite;
}
.Loader-wrapper{
	    width: 100%;
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.Loader-wrapper.dis{
	opacity: 1;
	transition: 0.6s ease;
	left: -100%;
}


.spin360-preloader {
  width: 32px;
  height: 32px;
  margin: auto 0;
  position: relative;
  -webkit-animation: rotation 1.95s ease 1.75s infinite;
          animation: rotation 1.95s ease 1.75s infinite;
}

.spin360-preloader__slice {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
}
.spin360-preloader__slice:nth-child(1) {
  border-width: 16px 16px 0 16px;
  border-color: #ffdf02 transparent transparent transparent;
  border-radius: 16px 16px 0 0;
  top: 0;
  left: 0;
  -webkit-animation: jump_1 1.95s ease 0s infinite;
          animation: jump_1 1.95s ease 0s infinite;
}
.spin360-preloader__slice:nth-child(2) {
  border-width: 16px 16px 16px 0;
  border-color: transparent #ffc800 transparent transparent;
  top: 0;
  right: 0;
  border-radius: 0 16px 16px 0;
  -webkit-animation: jump_2 1.95s ease 0.9s infinite;
          animation: jump_2 1.95s ease 0.9s infinite;
}
.spin360-preloader__slice:nth-child(3) {
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent #ff9e02 transparent;
  bottom: 0;
  right: 0;
  border-radius: 0 0 16px 16px;
  -webkit-animation: jump_3 1.95s ease 0.45s infinite;
          animation: jump_3 1.95s ease 0.45s infinite;
}
.spin360-preloader__slice:nth-child(4) {
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent #f69402;
  top: 0;
  left: 0;
  border-radius: 16px 0 0 16px;
  -webkit-animation: jump_4 1.95s ease 1.35s infinite;
          animation: jump_4 1.95s ease 1.35s infinite;
}



